<section class="playdate">
  <header>
    <h1>{{playdateCtrl.playdate._formattedDate}}</h1>
    <h2>{{playdateCtrl.playdate.location.name}}</h2>
  </header>
  <ul class="nav nav-tabs nav-justified">
    <li class="text-center" ng-class="{'active': playdateCtrl.tabs.active == 'players'}">
      <a ui-sref="playdate({ id: playdateCtrl.playdate.id, activeTab: 'players'})" class="nav-link">
        <i class="fa fa-users"></i>
        <span>Players</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': playdateCtrl.tabs.active == 'chat'}">
      <a ui-sref="playdate({ id: playdateCtrl.playdate.id, activeTab: 'chat'})" class="nav-link">
        <i class="fa fa-comment"></i>
        <span>Chat</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': playdateCtrl.tabs.active == 'events'}">
      <a  ui-sref="playdate({ id: playdateCtrl.playdate.id, activeTab: 'events'})" class="nav-link">
        <i class="fa fa-tasks"></i>
        <span>Events</span>
      </a>
    </li>
  </ul>
  <div class="content" ng-switch="playdateCtrl.tabs.active">

    <div class="content-players" ng-switch-when="players">
      <ul class="nav nav-tabs nav-justified">
        <li ng-repeat="player in playdateCtrl.playdate.players track by player.id" class="player">
          <img ng-src="{{player.profilePicture}}" class="playdate-img img-large--rounded" />
          <h4 class="player-name">{{player.firstName}} {{player.lastName}}</h4>
        </li>
      </ul>
    </div>

    <div class="content-chat" ng-switch-when="chat">
      <ul class="list-group">
        <li ng-repeat="message in playdateCtrl.playdate.messages track by message.id" class="list-group-item">
          <div class="row">
            <div class="col-lg-1">
              <img ng-src="{{message.user.profilePicture}}" class="img-medium--rounded"/>
            </div>
            <div class="col-lg-8">
              <span>{{message.message}}</span>
            </div>
            <div class="col-lg-3">
              <span>{{message._formattedDate}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="content-events" ng-switch-when="events">
      <ul class="list-group">
        <li ng-repeat="event in playdateCtrl.playdate.events track by event.id" class="list-group-item" ng-switch="event.type">
          <div ng-switch-when="CREATE">
            <h4 class="list-group-item-header">
              {{event._formattedDate}}: {{event.user.firstName}} {{event.user.lastName}} created the play date
            </h4>
          </div>
          <div ng-switch-when="REQUEST_JOIN">
            <h4 class="list-group-item-header">
              {{event._formattedDate}}: {{event.user.firstName}} {{event.user.lastName}} wants to join
            </h4>
            <p class="list-group-item-text">
              <em>{{event.message}}</em>
            </p>
          </div>
          <div ng-switch-when="REQUEST_ACCEPT">
            <h4 class="list-group-item-header">
              {{event._formattedDate}}: {{event.user.firstName}} {{event.user.lastName}} accepted {{event.acceptedUser.firstName}} {{event.acceptedUser.lastName}}'s request to join
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <pre>{{playdateCtrl|json}}</pre> -->
</section>