<div class="register" ng-controller="RegisterCtrl as register">
  <h2>Sign Up through Email</h2>

  <form form-for="register.user" service="RegisterForm">
    <text-field label="Email" attribute="email"></text-field>
    <text-field label="Password" attribute="password" type="password"></text-field>
    <text-field label="Handicap" attribute="handicap" type="number"></text-field>
    <checkbox-field label="I agree to the TOS" attribute="agreed"></checkbox-field>
    <submit-button label="Sign Up"></submit-button>
  </form>

  <h2>Sign Up through Facebook</h2>

  <button class="btn fb" ladda="register.waiting" data-style="expand-left" ng-click="register.authenticate('facebook')">
    <i class="fa fa-facebook"></i>
    Login
  </button>
</div>
