<article id="dashboard" ng-controller="DashboardCtrl as dashboard">
  <h2>Dashboard</h2>

  <play-now></play-now>

  <!-- <pre>{{dashboard.matches|json}}</pre>
  <ul>
    <li ng-repeat="user in dashboard.users">
      <div class="row">
        <div class="col-lg-2">
          <img ng-src="{{user.profilePicture}}"/>
        </div>
        <div class="col-lg-10">
          <h2>{{user.firstName}} {{user.lastName}}</h2>
          <h3>Handicap: {{user.handicap}}</h3>
          <button class="btn btn-primary">Play!</button>
        </div>
      </div>
    </li>
  </ul> -->
</div>
