<section id="dashboard">
  <!-- <play-now></play-now> -->
  <div class="row">
    <div class="col-lg-12">
      <header class="content-header">
        <h2>Schedule</h2>
      </header>
      <ul class="list-group">
        <li ng-repeat="outing in dashboard.schedule" class="list-group-item" ui-sref="outing({id:outing.id})">
          <div class="row">
            <div class="col-lg-2">
              <h5 class="outing-location">{{outing.course.name}}</h5>
            </div>
            <div class="col-lg-8">
              <ul class="outing-players">
                <li ng-repeat="player in outing.players" class="player">
                  <img ng-src="{{player.profilePicture}}" class="outing-img img-small--rounded" />
                </li>
              </ul>
            </div>
            <div class="col-lg-2">
              <h5 class="outing-date">{{outing.date | momentFormat:"DATE_AND_TIME"}}</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>