#dashboard {
  .list-group-item:hover {
    background-color: $color-lightbg--darker;
    cursor: pointer;
  }
  .dashboard-outing-img {
    margin-right: 1rem;
  }
  .outing-location,
  .outing-date,
  .outing-players,
  .player {
    display: inline-block;
  }
  .badge {
    position: absolute;
    top: 75px;
    left: 44%;
  }
}
