<div class='row'>
<div class='col-lg-2'></div>
<div class='col-lg-8'>
	<div class='jumbotron main-jumbotron'>
		<h2>Never golf without your bros again</h2>
		<p>Organize golf with your friends, meet new people, and start golfing socially</p>
	</div>
</div>
<div class='col-lg-2'></div>
</div>
