doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title golfwithme
    link(rel="shortcut ico", href="/favicon.ico")
    link(rel="stylesheet", href="css/main.css")

  body

    #container

    script(src="js/plugins.js")
    script(src="js/components.js")
