<div class="play-now" ng-controller="PlayNowController as playNow">
  <form class="form-inline">
    <div class="row">
      <div class="col-lg-4">
        <h3>When</h3>
        <input type="date" class="form-control" ng-model="playNow.form.when" placeholder="Select a date"/>
      </div>
      <div class="col-lg-4">
        <h3>Where</h3>
        <select selectize
          control="playNow.where.control"
          options="playNow.where"
          ng-model="playNow.form.where"
          placeholder="Enter a city"></select>
      </div>
      <div class="col-lg-4">
        <h3>How Many</h3>
        <div class="btn-group">
          <label class="btn btn-default btn-lg" ng-class="{'active': playNow.form.howmany == 1}">
            <input type="radio" name="options" id="howmany_1" ng-value="1" ng-model="playNow.form.howmany">1
          </label>
          <label class="btn btn-default btn-lg" ng-class="{'active': playNow.form.howmany == 2}">
            <input type="radio" name="options" id="howmany_2" ng-value="2" ng-model="playNow.form.howmany">2
          </label>
          <label class="btn btn-default btn-lg" ng-class="{'active': playNow.form.howmany == 3}">
            <input type="radio" name="options" id="howmany_3" ng-value="3" ng-model="playNow.form.howmany">3
          </label>
          <label class="btn btn-default btn-lg" ng-class="{'active': playNow.form.howmany == 4}">
            <input type="radio" name="options" id="howmany_4" ng-value="4" ng-model="playNow.form.howmany">4
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <button class="btn btn-lg btn-primary" ng-click="playNow.find()">Find Now</button>
      </div>
    </div>
  </form>

  <!-- <pre>{{playNow.matches|json}}</pre> -->

  <ul>
    <li ng-repeat="match in playNow.matches" class="match">
      <div class="row">
        <div class="col-lg-3 text-center">
          <h3>{{match._formattedDate}}</h3>
          <h4>{{match.location}}</h4>
          <button class="btn btn-lg btn-primary" ng-if="!match.playRequest">
            Ask to Join
          </button>
          <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" data-title="Asked on {{match.playRequest._formattedDate}}">
            <button class="btn btn-lg btn-default" ng-if="match.playRequest" disabled>
              Asked
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div ng-repeat="player in match.players" class="col-lg-3 text-center">
              <img ng-src="{{player.profilePicture}}"/>
              <span class="badge">{{player.handicap}}</span>
              <h5>{{player.firstName}} {{player.lastName}}</h5>
            </div>
            <div ng-repeat="empty in match._empties" class="col-lg-3 text-center">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <!-- <textarea placeholder="Enter a message to the group"></textarea> -->
        </div>
      </div>
    </li>
  </ul>
</div>
