@import 'bootstrap';
@import 'colors';
@import 'vendor';

@import 'home/home';

html, body {
  font: normal 18px/26px 'Open Sans', 'Arial', serif;
  color: $fontColor;
  word-wrap: break-word;
  word-break: break-word;
  background: $backgroundColor;
  text-align: center;
}

header, footer, h1, h2, h3 {
  font-variant: small-caps;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

a {
  color: $colorGreen;
  &:hover {
    text-decoration: underline;
    color: $colorGreen;
  }
}

ul {
  list-style: none;
}

header.header {
  padding: 2rem;
  > h1 > span {
    color: $colorGreen;
  }
  > h2 {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $fontDarkColor;
  }
}

footer {
  margin-top: 4rem;
}

.content > article {
  header {
    margin-bottom: 2rem;
  }
  h3, h4, h5 {
    // text-align: left;
  }
}
