$color-mainfont: darken(#fff, 20%);
$color-mainfont--darker: darken($color-mainfont, 50%);
$color-mainbg: #22231E;
$color-lightbg: rgba(243, 243, 243, 0.85);
$color-lightbg--darker: darken($color-lightbg, 5%);
$color-links: green;