.outing {
  .players,
  .player,
  .player-name {
    text-align: center;
  }
  .nav-link {
    color: $gray;
    margin-right: 0;
  }
  .active > .nav-link,
  .active > .nav-link:hover {
    color: $color-links;
    border-top-color: $color-links;
  }
  .nav {
    z-index: 2;
    position: relative;
    top: 1px;
  }
  .content {
    padding: 2rem;
    border: solid 1px $nav-tabs-border-color;
  }
  .empty-user {
    display: inline-block;
    vertical-align: middle;
  }
  
}