<section class="outing">
  <header>
    <h1>{{outingCtrl.outing.date | momentFormat:"DATE_LONG"}}</h1>
    <h2>{{outingCtrl.outing.date | momentFormat:"TIME_SHORTHAND"}}</h2>
    <h3>{{outingCtrl.outing.course.name}}</h3>
  </header>
  <ul class="nav nav-tabs nav-justified">
    <li class="text-center" ng-class="{'active': outingCtrl.tabs.active == 'overview'}">
      <a ui-sref="outing({ id: outingCtrl.outing.id, activeTab: 'overview'})" class="nav-link">
        <i class="fa fa-cog"></i>
        <span>Overview</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': outingCtrl.tabs.active == 'players'}">
      <a ui-sref="outing({ id: outingCtrl.outing.id, activeTab: 'players'})" class="nav-link">
        <i class="fa fa-users"></i>
        <span>Players</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': outingCtrl.tabs.active == 'requests'}">
      <a ui-sref="outing({ id: outingCtrl.outing.id, activeTab: 'requests'})" class="nav-link">
        <i class="fa fa-inbox"></i>
        <span>Requests</span>
        <span class="badge">{{outingCtrl.outing.inboundRequests.length}}</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': outingCtrl.tabs.active == 'chat'}">
      <a ui-sref="outing({ id: outingCtrl.outing.id, activeTab: 'chat'})" class="nav-link">
        <i class="fa fa-comment"></i>
        <span>Chat</span>
      </a>
    </li>
    <li class="text-center" ng-class="{'active': outingCtrl.tabs.active == 'events'}">
      <a ui-sref="outing({ id: outingCtrl.outing.id, activeTab: 'events'})" class="nav-link">
        <i class="fa fa-tasks"></i>
        <span>Events</span>
      </a>
    </li>
  </ul>
  <div class="content" ng-switch="outingCtrl.tabs.active">
    <div class="content-overview" ng-switch-when="overview">
      <div ng-include="'components/outing/overview/overview.html'" ng-controller="OutingOverviewCtrl as overviewCtrl"></div>
    </div>
    <div class="content-players" ng-switch-when="players">
      <div ng-include="'components/outing/players/players.html'" ng-controller="OutingPlayersCtrl as playersCtrl"></div>
    </div>
    <div class="content-chat" ng-switch-when="requests">
      <div ng-include="'components/outing/requests/requests.html'" ng-controller="OutingRequestsCtrl as requestsCtrl"></div>
    </div>
    <div class="content-chat" ng-switch-when="chat">
      <div ng-include="'components/outing/chat/chat.html'" ng-controller="OutingChatCtrl as chatCtrl"></div>
    </div>
    <div class="content-events" ng-switch-when="events">
      <div ng-include="'components/outing/events/events.html'" ng-controller="OutingEventsCtrl as eventsCtrl"></div>
    </div>
  </div>
</section>