<ul class="nav nav-tabs nav-justified">
  <li ng-repeat="player in outingCtrl.outing.players track by player.id" class="player">
    <img ng-src="{{player.profilePicture}}" class="outing-img img-large--rounded" />
    <h4 class="player-name">{{player.firstName}} {{player.lastName}}</h4>
    <div class="player-actions">
      <button class="btn btn-danger">
        <i class="fa fa-trash"></i>
        Remove Player
      </button>
    </div>
  </li>
  <li ng-repeat="request in outingCtrl.outing.outboundRequests track by request.id" class="player invited">
    <img ng-src="{{request.to.profilePicture}}" class="outing-img img-large--rounded" />
    <h4 class="player-name">{{request.to.firstName}} {{request.to.lastName}}</h4>
    <h5 class="player-status"><em>Pending Invite</em></h5>
    <div class="player-actions">
      <button class="btn btn-warning">Cancel Invite</button>
    </div>
  </li>
  <li ng-repeat="player in outingCtrl.outing._empties" class="player">
    <i class="fa fa-user fa-6x empty-user"></i>
    <div>
      <button class="btn btn-primary" ng-click="playersCtrl.toggle(player)" ng-hide="player._visible">
        <i class="fa fa-plus"></i>
        Add Player
      </button>
    </div>
    <div ng-if="player._visible">
      <select selectize placeholder="Select a pending request"
        options="playersCtrl.addOpts"
        ng-model="player.id">
      </select>
      <em>or</em>
      <select selectize placeholder="Invite a player"
        options="playersCtrl.inviteOpts"
        ng-model="player.id">
      </select>
      <button class="btn btn-default" ng-click="playersCtrl.toggle(player)">Cancel</button>
      <button class="btn btn-primary" ng-click="playersCtrl.invite(player)">Invite</button>
    </div>
  </li>
</ul>